% Sign for the Lift: Shows Floors and Events
\documentclass{article}

\usepackage[a3paper, top=30mm, bottom=0mm, left=0mm, right=0mm]{geometry}
\usepackage{vsl}
\usepackage{tabularx}
\usepackage{multirow}

\begin{document}
\printVSLEventHeader{Workshops}{Area $$area$$}

\vspace{1cm}

\begin{vsltext}{1.1cm}{1.3cm}
\begin{center}
\begin{tabularx}{0.6\textwidth}{ c X }
    \textbf{Floor} & \textbf{Event} \\
    $$workshops$$
\end{tabularx}
\end{center}
\end{vsltext}
\end{document}
