\documentclass[a4paper]{article}
\usepackage{vsl}
\usepackage[top=10mm, bottom=0mm, left=0mm, right=0mm, landscape]{geometry}

\renewcommand\Room{$$room$$}
\renewcommand\Event{$$event$$}
\renewcommand\Area{\Stair{2cm} $$area$$}
\renewcommand\Floor{0$$floor$$}

\begin{document}

\printVSL[Stiege]

\end{document}
